h2 {
   
    display: flex;
    justify-content: center;
}
.nav
{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    content: none;
}

img{
    position: absolute;
    right: 50px;
}
hr{
    size: 50px;
}
.back
{
    width: 100%;
    height: 500px;
    background-image: url(https://www.charusat.ac.in/assets/images/logo/logo.webp);
    background-repeat: no-repeat;
    background-size: 100%;
}
.up
{
    height: 100px;
    width: 500px;
    background-color: aqua;
    align-items: center;
    justify-self: center;
}